<div>
	<div>
		<h3>Active games</h3>
		<table class="table table-striped table-hover no-footer dataTable">
		  <thead>
		  	<tr>
		  		<th>Player 1</th>
		  		<th>Player 2</th>
		  		<th>Winner</th>
		  		<th>turn</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="game in games">
		  		<td>{{ game.p1 }}</td>
		  		<td>{{ game.p2 }}</td>
		  		<td>{{ game.winner }}</td>
		  		<td>{{ game.turn }}</td>
		  	</tr>
		  </tbody>
		</table>
	</div>
	
	<div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><b>Challenge player</b></span>
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Send</button>
      </span>
    </div>
  </div>

	<div>

		<div class="well bs-component">
			<form novalidate class="form-horizontal">
				<fieldset>
	    		<legend>Create new game</legend>
					<div class="form-group">
						<label>Player 1</label>
				    <input type="text" ng-model="players.p1" class="form-control" placeholder="">
				    <br />
				    <label>Player 2</label>
				    <input type="text" ng-model="players.p2" class="form-control" placeholder="">
				  </div>
				  
				  <button class="btn btn-primary" ng-click="createGame(players)">Create</button>

				 </fieldset>
			</form>
		</div>

	</div>

</div>