body {
	background-color: #eeeef7;
}

a {
	color: #318dff;
	text-decoration: none;
}

a:hover {
	color: #61cdff;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background-color: #3c4e67;
	text-decoration: none;
}

.content {
	background-color: #fbfbfb;
	padding: 10% 8% 8% 8%;
}

.footer {
	padding: 10% 8% 8% 8%;
	border-top: 1px solid rgba(0,0,0,0.05);
	width: 100%;
	text-align: center;
}