

@media (min-width: 1800px) {
	body {
		background-image: url('/images/bg_2800.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

@media (max-width: 1800px) {
	body {
		background-image: url('/images/bg_2000.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

@media (max-width: 1500px) {
	body {
		background-image: url('/images/bg_1600.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

@media (max-width: 1100px) {
	body {
		background-image: url('/images/bg_1200.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

@media (max-width: 900px) {
	body {
		background-image: url('/images/bg_1000.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

@media (max-width: 500px) {
	body {
		background-image: url('/images/bg_800.jpg');
		background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top center; 
	    /*background-size:   cover; */
	    background-color: black;
	}
}

html {}

.cover {
	position: absolute;
	top : 0;
	left : 0;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 10000000;
}

a {
	color: #318dff;
	text-decoration: none;
}

a:hover {
	color: #61cdff;
	text-decoration: none;
}

h3 {
	margin: 0px;
}

hr {
	margin: 8px;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	background-color: #3c4e67;
	text-decoration: none;
}

.navbar-nothing{
	width: 20px;
	height: 20px;
}

.content {
	/*background-color: #fbfbfb;*/
	
	/*background-color: #fff;*/
	padding-top: 150px;
	height: 100%;
	min-height: 100vh;
}

.view-content{
	width:90%;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 120px;
}

.login-pills>li>a {
	background-color: rgba(255,255,255,0.5);
	margin-right: 5px;
}

.login-pills>li>a:hover {
	background-color: rgba(255,255,255,0.8);
}

.input-group {
	box-shadow: 0px 0px 20px #000;
}

.well {
	background-color: #fff;
	box-shadow: 0px 0px 20px #000;
}

.login-page {
	height: 100vh;
	width: 100%;
	padding-top: 160px; 
}

.pills {
	width: 100%;
	/*max-width: 260px;*/
	margin-top: 140px;
	margin: 0 auto;
	/*margin-bottom: 20px;*/
}

.pills-login {
	width: 100%;
	max-width: 260px;
	margin-top: 140px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.login-box {
	width: 100%;
	max-width: 260px;
	margin-top: 140px;
	margin: 0 auto;
	color: #111;
}

.footer {
	padding: 4% 8% 4% 8%;
	border-top: 1px solid rgba(0,0,0,0.05);
	width: 100%;
	text-align: center;
}

#alerts {
	width:100%;
	position: absolute;
	top: 76px;
}

.alert{
	width: 80%;
	max-width: 400px;
	margin-right: auto;
	margin-left:auto;
}

.error-text {
	height: 16px;
	color: red;
	font-size: 13px;
	font-weight: bold;
}

.col-grid{
	height: 30%;
	width: 30%;
	float: left;
	margin: 4px;
	background-color: #eee;
	border: solid 1px;
	border-color: #ccc;
	font-size: 64px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.gamegrid{
	height: 300px;
	max-width: 300px;
	margin: 20px auto 20px auto;
}

.game-opt{
	height: 52px;
}

.game-opt h2{
	margin-top:0px;
}

.buttons{
	height: 60px;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.center{
	text-align: center;
}

.game-info{
	width: 50%;
}

.grid-click:hover{
	cursor: pointer;
	border-color: #18bc9c;
	background-color: #ddd ;
}

.grid-action{
	cursor: pointer;
	border-color: #18bc9c;
}
